body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}
#problem {
  font-size: 1.2em;
  margin-bottom: 10px;
}
svg {
  border-top: 2px solid #ccc;
  user-select: none;
  margin-bottom: 10px;
}
text { font-size: 14px; fill: #333; }

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #4ade80;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#button-group {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
button:hover {
    background-color: #22c55e;
}
button:active {
    transform: scale(0.95)
}

line {
  stroke-linecap: round;
}

#ticks line {
  stroke: #666;
  stroke-width: 2;
}

#labels text {
  font-weight: 600;
  fill: #444;
}
@media (max-width: 500px) {
  #problem {
    font-size: 1em;
  }
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
  text {
    font-size: 12px;
  }
}